//Variables

//Background color
$light-bg:#fffff3;
$dark-bg:#030303;

//colors
$logo-text-color:#253b40;
$light-color:#2e2e2e;
$dark-color:#030303;
$tert-color: #9e9e9e;
$quat-color: #00a0e4;

//font weight
$font-weight--light : 400;
$font-weight--bold  : 700;

//breakpoints
$break-xsmall: 1px;
$break-small: 460px;
$break-medium: 768px;
$break-large: 991px;
$break-xlarge: 1260px;
$break-xxlarge: 1500px;